html{
    scroll-behavior: smooth;
}
#div1{
    border: black;
}
span{
    color: black;
}
body{
    font-family: Arial,sans-serif;
    background:linear-gradient(to right,darkgreen,white,orange);
    margin: 0 ;
}
form{
    background-color:lightgoldenrodyellow;
}
h1{
    font-family:Arial, sans-serif;
    margin: 5px;
    text-align: center;
}
b{
    text-align: center;
}
p{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
}
h2{
    font-family: Comic Sans MS,sans-serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
    size:5%;
    background-color: palegreen;

}
img {
    border: 5px solid white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
b{
    font-family:Agency FB, sans-serif;
    text-align: center;
    size: 30;
}
